<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.ClothesMapper">

    <select id="findByUserId" parameterType="Integer" resultType="com.example.demo.domain.Clothes">
        SELECT *
        FROM Clothes
        WHERE userId = #{id}
        ORDER BY clothesId DESC
    </select>

    <insert id="insertClothes" parameterType="com.example.demo.domain.Clothes" useGeneratedKeys="true"
            keyProperty="clothesId">
        insert into Clothes (userId, type)
        VALUES (#{clothes.userId}, #{clothes.type})
    </insert>

    <delete id="deleteClothes" parameterType="Long">
        delete
        from Clothes
        where userId = #{userId}
          and clothesId = #{clothesId}
    </delete>


</mapper>
