<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.SuitMapper">

    <select id="findByUserId" parameterType="Integer" resultType="com.example.demo.domain.Suit">
        SELECT *
        FROM Suits
        WHERE userId = #{id}
    </select>

    <insert id="insertSuit" parameterType="com.example.demo.domain.Suit" useGeneratedKeys="true"
            keyProperty="suitId">
        insert into Suits (userId, topId, bottomId, onePieceId, shoesId, accessoryId)
        VALUES (#{suit.userId}, #{suit.topId}, #{suit.bottomId}, #{suit.onePieceId}, #{suit.shoesId},
                #{suit.accessoryId})
    </insert>

    <delete id="deleteSuit" parameterType="Long">
        delete
        from Suits
        where userId = #{userId}
          and suitId = #{suitId}
    </delete>


</mapper>
